<!DOCTYPE html>
<html>
<head>
    <title>Max Polarity</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <h4>THE TWEET WITH THE MAXIMUM POLARITY</h4>
    <div class="json-data">
        <pre>{{ data|safe }}</pre>
    </div>
    <div class="bottom-line"></div>
    <div class="credits">
      The sentiment analysis function in the NLTK (Natural Language Toolkit) library provides a way to analyze the sentiment or emotional tone of text data. It works by leveraging pre-trained models or lexicons that associate words or phrases with sentiment scores or categories. These models are typically trained on annotated datasets where human experts have labeled the sentiment of the text.

      When applying sentiment analysis, the function breaks down the input text into smaller units like words or phrases and assigns sentiment scores based on the presence and context of these units in the lexicon. It takes into account various linguistic features, such as negations and intensifiers, to refine the sentiment analysis results. By aggregating the scores, the function can determine the overall sentiment of the text, whether it's positive, negative, or neutral.
    </div>
</body>
</html>
