<!DOCTYPE html>
<html>
<head>
    <title>View Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h4>EXAMPLES OF ACQUIRED DATA</h4>
    <table>
        <tr>
            <div class="table-row">
                <th>Polarity</th>
                <th>ID</th>
                <th>Date</th>
                <th>User</th>
                <th>Text</th>
                <th>Classification</th>
            </div>
        </tr>

        {% for item in data[:5] %}
        <tr>
            <div class="table-row-data">
                <td>{{ item.polarity }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.user }}</td>
                <td>{{ item.text }}</td>
                <td>{{ item.classification }}</td>
            </div>
        </tr>
        {% endfor %}
    </table>

    <form action="/load_more_data" method="post">
        <button id="loadMoreBtn" class="buttons" type="submit">DISPLAY MORE</button>
    </div>
</body>
</html>
